@font-face { 
font-family: TitilliumWeb;
src: url(../fonts/TitilliumWeb-Regular.ttf);
font-weight: normal;
}
@font-face { 
font-family: TitilliumWeb;
src: url(../fonts/TitilliumWeb-Bold.ttf);
font-weight: bold;
}
@font-face { 
font-family: TitilliumWeb;
src: url(../fonts/TitilliumWeb-Light.ttf);
font-weight: 200;
}
@font-face { 
font-family: TitilliumWeb;
src: url(../fonts/TitilliumWeb-LightItalic.ttf);
font-weight: 200;
font-style: italic;
}
@font-face { 
font-family: TitilliumWeb;
src: url(../fonts/TitilliumWeb-SemiBold.ttf);
font-weight: 600;
}
@font-face { 
font-family: Socialico;
src: url(../fonts/Socialico.ttf);
font-weight: normal;
}


/* CSS */
*, *::before, *::after {
	box-sizing: border-box;
}
a {
	text-decoration: none;
}
body {
	background-color: #FFF;
	color: #3c4761;
	font-family: TitilliumWeb, sans-serif;
	font-size: 10px;
	font-weight: normal;
}
.wrap {
	max-width: 1140px;
	text-align: center;
	margin: 0 auto;
	padding: 3.5rem 1% 8rem;
}
#welcome {
	background-color: #87509c;
}
#header {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-bottom: 140px;
}
#header>img {
	width: 120px;
	height: 40px;
}
.nav {
	width: 50%;
	display: flex;
	justify-content: flex-end;
	vertical-align: middle;
}
.header-menu-link {
	color: #fff;
	text-transform: uppercase;
	vertical-align: middle;
	padding: 0.5rem;
	font-size: 1rem;
	line-height: 2.5rem;
}
.header-menu-link:hover {
	background-color: #643a79;
	border-radius: 0.5rem;
}
article.main-header {
	font-size: 2.1rem;
	line-height: 4rem;
	color: #fff;
	font-weight: bold;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
article.main-header>h2 {
	display: inline-block;
	width: 70%;
	margin: 0 auto;
}
article.main-header>div.button {
	background-color: #eb7d4d;
	margin-top: 60px;
}
div.button {
	width: 295px;
	height: 70px;
	border-radius: 7px;
	border-bottom: 3px solid #ca6b40;
	margin: 0 auto;
	margin-top: 60px;
	cursor: pointer;
}
.button-link{
	font-weight: 600;
	text-transform: uppercase;
	color: #fff;
	font-size: 1.4rem;
	line-height: 4rem;
}
section h1 {
	font-size: 3rem;
	font-weight: bold;
	text-transform: uppercase;
}
.line {
	width: 90px;
	height: 4px;
	background-color: #445162;
	margin: 20px auto 25px;
}
#services {
	background-color: #17c2a4;
	color: #fff;
}
section>div>h2 {
	font-size: 1.5rem;
	margin: 0 auto;
	width: 70%;
}
.flex4{
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	flex-wrap: wrap;
}
.flex2{
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	flex-wrap: wrap;
}
.item14 {
	width: 25%;
	padding: 1%;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 6rem;	
}
.item14 img, .item12 img {
	max-width: 100%; height: auto;
}
section .item14 h3 {
	font-weight: bold;
	font-size: 1.3rem;
	line-height: 3rem;
	text-transform: uppercase;
}
section .item14 p {
	font-size: 1.2rem;
	line-height: 1.4rem;
	margin-top: 20px;
}
#team {
	background-color: #e7f1f8;
}
#team .line {
	background-color: #bbd1df;
}
section#team article.item14 {
	justify-content: space-between;
}
section#team .team-wrap>span {
	color: #30bae7;
	text-transform: capitalize;
	font-size: 0.8rem;
}
section#team article.item14>ul {
	display: flex;
	margin-top: 30px; 
}
section#team .soc-ico>a {
	font-family: Socialico;
	color: #30b0e7;
	background-color: #fff;
	border-radius: 50%;
	font-size: 1.7rem;
}
section#porfolio {
	background-color: #fd9;
}
section#porfolio ul {
	display: flex;
	justify-content: center;
	margin-top: 50px;
}
section#porfolio ul.port-li li {
	background-color: #ebc985;
	border-radius: 7px;
	font-size: 1rem;
	margin: 0 1%;
}
section#porfolio ul.port-li li:hover {
	background-color: #fff;
}
ul.port-li li>a {
	color: #393939;
	padding: 0.5rem 1rem;
	display: block;
}
.item12 {
	width: 50%;
	padding: 1%;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 6rem;
}
section#porfolio article.item12 p {
	font-size: 1rem;
	line-height: 1.5rem;
}
section#porfolio div.button {
	background-color: #17c2a4;
	border-bottom-color: #fac;
} 
section#testimonials {
	background-color: #d74680;
	color: #fff;
}
section#testimonials .item12 {
	flex-direction: row;
	align-items: flex-start;
	text-align: left;
}
section#testimonials .item12 div {
	margin-left: 10px;
}
section#testimonials .item12 blockquote {
	font-style: italic;
	font-size: 1.2rem;
	line-height: 1.8rem;
}
section#testimonials .item12 blockquote:before {
	content:"'";
}
section#testimonials .item12 blockquote:after {
	content:"'";
}
.item12 h3 {
	font-size: 1.3rem;
	line-height: 2.5rem;
	font-style: bold;
	text-transform: uppercase;
	margin-top: 25px;
	
}
section#testimonials .item12 p {
	font-size: 0.9rem;
	color: #1cd597;
}
section#get {
	background-color: #3c5499;
	color: #fff;
}
section#get .button {
	background-color: #30bae7;
	border-bottom-color: #77bce7;
}
form {
	width: 76%;
	margin: 80px auto 0;
}
.wrap-input {
	display: flex;
	justify-content: space-between;
}
input, .textarea {
	background-color: #273a71;
	border: 1px solid #273a71;
	border-radius: 7px;
	padding: 1%;
	color: #fff;
}
input.textin {
	width: 47%;
	height: 35px;
}
.textarea {
	width: 100%;
	height: 40vh;
	margin-top: 25px;
}
footer {
	background-color: #344b8e;
}
footer .wrap {
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 1rem 5%;
}
footer a {
	color: #fff;
	font-weight: 600;
	font-size: 1.1rem;
}
footer a:hover {
	color: #1cd597;
}



/* Media */
@media screen and (max-width:550px){
	body {
	font-size: 6px
	}
	#header {
	flex-direction: column;
	}
	.nav {
    width: 95%;
	justify-content: center;
	}
	.flex4{
	flex-direction: column;
	}
	.item14 {
	width: 95%;
	}
	.flex2{
	flex-direction: column;
	}
	.item12 {
	width: 95%;
	}
	section#testimonials .item12 {
	flex-direction: column;
	text-align: center;	
	align-items: center;
	}
	.wrap-input {
	flex-direction: column;
	}
	input.textin {
	width: 100%;
	margin-bottom: 1%;
	}
	footer .wrap {
	flex-direction: column;
	}
}
	